@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hamberger-button {
    display: none;
  }

  .header-menu {
    margin-right: 120px;

    display: flex;
    gap: 40px;
  }

  .header-adress {
    display: flex;
    align-items: center;
  }

  .header-adress-list {
    /* display: flex; */
    gap: 40px;
    margin-right: auto;
  }

  .header-menu-item {
  }

  .header-menu-link.current {
    color: var(--btn-accent-color);
  }

  .header-menu-link {
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 500;
    padding: 24px 0;
    display: block;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current {
    position: relative;
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: var(--btn-accent-color);
  }

  .header-adress {
    font-style: normal;
  }
  .header-adress-list {
  }
  .header-adress-item {
  }
  .header-adress-link {
    color: var(--paragraph-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-adress-link:hover,
  .header-adress-link:focus {
    color: var(--btn-accent-color);
  }

  .hero {
    padding: 112px 136px;
    background-color: var(--background-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .section-one {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab-2x.jpg);
    }
  }

  .hero-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }

  .advantages {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .advantages-list {
    gap: 72px 24px;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-subtitle {
    text-align: left;
  }

  .team-list {
    gap: 64px 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .customers-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px 24px;
  }

  .customers-item {
    width: calc((100% - 24px) / 4);
  }

  .footer-container {
    flex-direction: row;
    width: 552px;
    gap: 72px 24px;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .footer-logo {
    display: inline-block;
  }

  .footer-social-text {
    display: block;
  }

  /* .subscribe-form-container {
    margin-left: 80px;
  } */

  .subscribe-form-text {
    display: block;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
  }

  .subscribe-form-input {
    width: 264px;
  }

  .subscribe-btn {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .header-container {
    flex-grow: 0;
    gap: 332px;
  }

  .hamberger-button {
    display: none;
  }

  .header-menu {
    margin-right: 0;
    display: flex;
    gap: 40px;
  }

  .header-adress {
    display: flex;
    align-items: center;
  }

  .header-adress-list {
    display: flex;
    gap: 40px;
    margin-right: auto;
  }

  .hero {
    padding: 188px 0 188px;
    height: 600px;
    background-color: var(--background-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }

  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantages-list {
    gap: 24px;
  }

  .advantages-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .advantages-block {
    width: 264px;
    height: 112px;
    display: block;
  }

  .advantages-subtitle {
    text-align: center;
    color: var(--accent-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .advantages-item-text {
    font-weight: 400;
  }

  .work {
    display: block;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    gap: 24px;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
  }

  .footer-container {
    gap: unset;
    flex-wrap: nowrap;
    width: 100%;
    align-items: baseline;
  }

  .footer-container-text {
    margin-right: 120px;
  }

  .footer-logo {
    display: inline-block;
  }

  .subscribe-form-container {
    margin-left: 80px;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
  }

  .subscribe-form-input {
    width: 264px;
  }
}
