:root {
  --accent-color: #2e2f42;
  --paragraph-color: #434455;
  --background-color: #2e2f42;
  --logo-color: #4d5ae5;
  --btn-accent-color: #404bbf;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/* HEADER */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
  margin-right: 76px;
  color: var(--logo-color);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-accent {
  color: var(--logo-color);
}

.header-logo-color {
  color: var(--accent-color);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 332px;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-adress {
  display: flex;
  align-items: center;
}

.header-adress-list {
  display: flex;
  gap: 40px;
  margin-right: auto;
}

.header-menu-item {
}

.header-menu-link.current {
  color: var(--btn-accent-color);
}

.header-menu-link {
  color: var(--accent-color);
  font-size: 16px;
  font-weight: 500;
  padding: 24px 0;
  display: block;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #404bbf;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--btn-accent-color);
}

.header-adress {
  font-style: normal;
}
.header-adress-list {
}
.header-adress-item {
}
.header-adress-link {
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress-link:hover,
.header-adress-link:focus {
  color: var(--btn-accent-color);
}

/* HERO */

.hero {
  padding: 188px 0 188px;
  background-color: var(--background-color);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  max-width: 1440px;
  height: 600px;
  flex-shrink: 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
}

.hero-title {
  max-width: 496px;
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
  padding-bottom: 48px;
}

.hero-btn {
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  background: #4d5ae5;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--btn-accent-color);
}

/* ADVANTAGES */

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-item {
  width: calc((100% - 24px * 3) / 4);
}

.advantages-block {
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages-icon {
  fill: currentColor;
}

.advantages-subtitle {
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.advantages-item-text {
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* WORK */

.work {
  padding-bottom: 120px;
}

.work-title {
  margin: 0 auto;
  margin-bottom: 72px;
  color: var(--accent-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.work-list {
  display: flex;
  gap: 24px;
}
.list {
}
.work-item {
  width: calc((100% - 24px * 2) / 3);
  border: 1px solid #e7e9fc;
}
.work-img {
}

/* TEAM */

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  margin-bottom: 72px;
  color: var(--accent-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list {
  display: flex;
  gap: 24px;
}

.list {
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-subtitle {
  margin-bottom: 8px;
  color: var(--accent-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-item-text {
  color: var(--paragraph-color);
  text-align: center;
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-subtitle-text {
  padding: 32px 0;
}

.team-block {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-list {
  width: 40px;
  height: 40px;
}

.team-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-link:hover,
.team-list-link:focus {
  background-color: var(--btn-accent-color);
}

.team-icon {
  fill: #f4f4fd;
}

/* CUSTOMERS */

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--accent-color);
  margin-bottom: 72px;
  text-align: center;
}

.customers-list {
  display: flex;
  gap: 24px;
}
.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  height: 100%;
  width: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--btn-accent-color);
  border-color: var(--btn-accent-color);
}

.customers-icon {
  fill: currentColor;
}

/* FOOTER */

.footer {
  background-color: var(--background-color);
  flex-shrink: 0;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-container-text {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--logo-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

.subscribe-form-container {
  margin-left: 80px;
}

.subscribe-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-label {
}

.subscribe-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.subscribe-form-input::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--logo-color);
  border: none;
  border-radius: 4px;
}

.subscribe-btn-icon {
  margin-left: 16px;
  fill: #f4f4fd;
}

/*-- PORTFOLIO --*/

/* PROJECT */

.projekt {
  padding: 96px 0 120px 0;
}

.first-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.project-btn {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  color: #4d5ae5;
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-btn:hover,
.project-btn:focus {
  border: 1px solid transparent;
  color: #ffffff;
  background-color: var(--btn-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.second-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.second-list-item {
  width: calc((100% - 48px) / 3);
}

.second-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projekt-subtitle-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.projekt-subtitle {
  margin-bottom: 8px;
  color: var(--background-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.projekt-link-text {
  color: var(--paragraph-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.second-image {
  position: relative;
  overflow: hidden;
}

.second-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--icon);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.second-link:hover,
.second-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.second-link:hover .second-cover-text {
  transform: translateY(0%);
}

.second-link:focus .second-cover-text {
  transform: translateY(0%);
}

.second-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: var(--logo-color);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--btn-accent-color);
  border: none;
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-style: normal;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.modal-title span {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal-field {
  margin-bottom: 8px;
  position: relative;
}

.modal-field-text {
  margin-bottom: 16px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03);
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #48433c;
  outline: transparent;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-input::placeholder,
.modal-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 18px;
  letter-spacing: -0.02em;
}

.modal-input:focus::placeholder {
  opacity: 0;
}

.input-label,
.input-label-text {
  color: #8e8f99;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03);
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  resize: none;
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.checkbox-span {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-span svg {
  fill: none;
}

.checkbox-link {
  color: #4d5ae5;
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  min-height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:checked + .input-label .checkbox-span {
  background-color: var(--btn-accent-color);
  border: none;
  fill: #f4f4fd;
}
.modal-input:checked + .input-label .checkbox-icon {
  fill: #f4f4fd;
}
